<%

// 页面单独依赖的css、js
var cssExt = [
//"/assets/amazeui/datatables/amazeui.datatables.min.css"
];
var jsExt = [
//"/assets/amazeui/datatables/amazeui.datatables.min.js",
//"/assets/laytpl-1.1/laytpl.js",
//"/assets/admin/user.js"
];

%>

<% layout("../common/_layout.html",{page_tab_aim:'system',cssExt: cssExt, jsExt: jsExt}){ %>


<div class="am-cf am-padding">
	<div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">用户管理</strong> / <small></small></div>
</div>

<div class="am-g">
	<div class="am-u-sm-12">
		<form action="${ctxPath}/admin/user/updatePOST/${user.id}" class="am-form" data-am-validator method="POST">
				<div class="am-form-group">
					<label for="user.username">用户名：</label>
					<input type="text" id="user.username" name="user.username" minlength="3" placeholder="输入用户名（至少 3 个字符）" value="${user.username}" required/>
				</div>

			<div class="am-form-group">
					<label for="user.password">密码：</label>
					<input type="text" id="user.password" name="user.password" placeholder="若不想修改密码 此处留空" value=""/>
				</div>

				<div class="am-form-group">
					<label for="user.rolename">用户类型</label>
					<select id="user.rolename" name="user.rolename" required>
						<option value="">-=请选择一项=-</option>
						<option value="admin"  ${user.rolename=="admin"?"selected":""} >超级管理员</option>
						<option value="guest"  ${user.rolename=="guest"?"selected":""} >游客</option>
					</select>
					<span class="am-form-caret"></span>
				</div>

				<div class="am-form-group">
					<label>账号状态： </label>
					<label class="am-radio-inline">
						<input type="radio"  value="1" name="user.isLocked" ${!user.isLocked ?"checked":"" } required> 启用
					</label>
					<label class="am-radio-inline">
						<input type="radio" value="0" name="user.isLocked" ${user.isLocked ? "checked":"" } > 禁用
					</label>
				</div>

				<button class="am-btn am-btn-secondary" type="submit">提交</button>
		</form>
	</div>
</div>

<% } %>